/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Noticia Text", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Quattrocento", serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.top-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #2b4162;
  padding: 20px 0 20px 0;
}
.top-nav .logo {
  font-size: 4.8rem;
  color: #ffead0;
}
.top-nav nav {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.top-nav nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f5f0f6;
}
footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #2b4162;
  bottom: 0;
}
footer nav {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
footer nav a {
  text-decoration: none;
  color: #f5f0f6;
  font-size: 1.6rem;
}
footer .social-icons {
  display: flex;
}
footer .social-icons .icon {
  padding: 20px;
  font-size: 30px;
  width: 80px;
}
footer .copyright {
  color: white;
}
.top-content {
  text-align: center;
  padding: 20px 10px 10px 10px;
  border-top: 2px solid #727072;
  margin-top: 20px;
  margin: 0 auto;
}
.middle-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.middle-content .images {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.middle-content .images img {
  width: 150px;
  height: 100px;
  padding: 5px;
}
@media (min-width: 1000px) {
  .middle-content .images img {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .middle-content .images img {
    width: 200px;
    height: 150px;
  }
}
.content {
  text-align: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 2px solid #727072;
  margin-bottom: 20px;
}
.content button {
  border: 1px solid #727072;
  padding: 5px;
  background: #2B4162;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 20px;
}
.about-page {
  width: 100%;
}
.about-page .team {
  margin-top: 30px;
}
.about-page .team h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.about-page .team .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-page .team .members .team-member {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.about-page .team .members .team-member h3 {
  font-size: 24px;
}
.about-page .team .members .team-member img {
  width: 80%;
  margin-bottom: 20px;
}
.about-page .team .members .team-member .member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
