* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Noticia Text", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Quattrocento", serif;
}
img {
  max-width: 100%;
  height: auto;
}
.top-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b4162;
  padding: 20px 0;
}
@media (min-width: 1000px) {
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .top-nav {
    position: sticky;
    top: 0;
  }
}
.top-nav .logo {
  font-size: 4.8rem;
  color: #ffead0;
}
@media (min-width: 1000px) {
  .top-nav .logo {
    margin-left: 5%;
  }
}
.top-nav nav {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  .top-nav nav {
    width: 50%;
    justify-items: flex-end;
    justify-content: space-evenly;
  }
}
.top-nav nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f5f0f6;
}
.top-nav nav a:hover {
  color: #4183c4;
}
footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #2b4162;
  bottom: 0;
}
footer nav {
  width: 100%;
  padding: 1%;
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  footer nav {
    width: 50%;
  }
}
footer nav a {
  text-decoration: none;
  color: #f5f0f6;
  font-size: 1.6rem;
}
footer nav a:hover {
  color: #4183c4;
}
footer .social-icons {
  display: flex;
}
footer .social-icons .icon {
  padding: 20px;
  font-size: 30px;
  width: 80px;
}
footer .copyright {
  color: white;
  padding-bottom: 1.6rem;
}
.home .top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
  margin: 0 auto;
}
.home .banner {
  padding-top: 2rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 999px), (min-width: 1000px), (min-width: 1200px) {
  .home .banner {
    display: none;
  }
}
.home .middle-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.home .middle-content .images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 999px), (min-width: 1000px), (min-width: 1200px) {
  .home .middle-content .images {
    margin-top: 1rem;
  }
}
.home .middle-content .images img {
  width: 150px;
  height: 100px;
  padding: 5px;
}
@media (min-width: 1000px) {
  .home .middle-content .images img {
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .home .middle-content .images img {
    width: 180px;
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .home .middle-content .images img {
    width: 200px;
    height: 125px;
    margin-bottom: 2rem;
  }
}
.home .content {
  padding: 2rem 1rem 2rem 1rem;
  border-bottom: 2px solid #727072;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 999px) {
  .home .content {
    padding-top: 0;
  }
}
.home .content button {
  border: 1px solid #727072;
  padding: 5px;
  background: #2b4162;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 2rem;
}
.home .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .testimonials article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
@media (min-width: 768px) and (max-width: 999px) {
  .home .testimonials article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .home .testimonials article p {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .home .testimonials article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .home .testimonials article p {
    width: 50%;
  }
}
.home .testimonials article img {
  width: 150px;
  height: 100px;
  margin-bottom: 1rem;
}
.home .testimonials article p {
  padding: inherit;
}
@media (min-width: 768px) and (max-width: 999px) {
  .home .testimonials article:last-child {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1000px) {
  .home .testimonials article:last-child {
    flex-direction: row-reverse;
  }
}
.about-page {
  width: 100%;
}
.about-page .team {
  margin-top: 30px;
}
.about-page .team h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.about-page .team .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-page .team .members .team-member {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.about-page .team .members .team-member h3 {
  font-size: 24px;
}
.about-page .team .members .team-member img {
  width: 80%;
  margin-bottom: 20px;
}
.about-page .team .members .team-member .member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
