* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Noticia Text", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Quattrocento", serif;
}
img {
  max-width: 100%;
  height: auto;
}
.top-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #2b4162;
  padding: 20px 0;
}
.top-nav .logo {
  font-size: 4.8rem;
  color: #ffead0;
}
.top-nav nav {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.top-nav nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f5f0f6;
}
footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #2b4162;
  bottom: 0;
}
footer nav {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
footer nav a {
  text-decoration: none;
  color: #f5f0f6;
  font-size: 1.6rem;
}
footer .social-icons {
  display: flex;
}
footer .social-icons .icon {
  padding: 20px;
  font-size: 30px;
  width: 80px;
}
footer .copyright {
  color: white;
}
.home .top-content {
  text-align: center;
  padding: 20px 10px 10px 10px;
  margin-top: 20px;
  margin: 0 auto;
}
.home .middle-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.home .middle-content .images {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.home .middle-content .images img {
  width: 150px;
  height: 100px;
  padding: 5px;
}
@media (min-width: 1000px) {
  .home .middle-content .images img {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .home .middle-content .images img {
    width: 200px;
    height: 150px;
  }
}
.home .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .testimonials article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
.home .testimonials article img {
  width: 150px;
  height: 100px;
  margin-bottom: 1rem;
}
.home .testimonials article p {
  padding: inherit;
}
.home .content {
  text-align: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 2px solid #727072;
  margin-bottom: 20px;
}
.home .content button {
  border: 1px solid #727072;
  padding: 5px;
  background: #2b4162;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 20px;
}
.about-page {
  width: 100%;
}
.about-page .team {
  margin-top: 30px;
}
.about-page .team h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.about-page .team .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-page .team .members .team-member {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.about-page .team .members .team-member h3 {
  font-size: 24px;
}
.about-page .team .members .team-member img {
  width: 80%;
  margin-bottom: 20px;
}
.about-page .team .members .team-member .member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
