// About us page style here
.about-page {
  width: 100%;
  .team {
    padding: 30px 20px;
    background-color: #b4b9bc;

    h2 {
      font-size: 3.2rem;
      text-align: center;
      margin-bottom: 30px;
    }

    border-bottom: 1px solid @deep-koamaru;

    .members {
      .flex-custom(
        column; @flex-wrap: wrap; @justify-content: center; @align-items: center
      );

      @media @tablet {
        flex-direction: row;
      }

      @media @desktop {
        flex-direction: row;
      }

      a {
        display: contents;
        color: black;
      }

      .card:hover {
        background-color: lightseagreen;
      }

      .ui.link.cards:hover {
        background-color: lightseagreen;
      }

      .team-member {
        width: 80%;
        .flex-custom(column; @align-items: center);
        margin-bottom: 20px;
        max-height: 500px;
        border: 1px solid lightblue;
        border-radius: 10px;
        background-color: lightseagreen;
        margin: 20px 20px;
        padding-bottom: 30px;

        @media @tablet {
          width: 40%;
        }

        @media @desktop {
          width: 28%;
        }

        h3 {
          font-size: 2.4rem;
        }
        img {
          width: 80%;
          height: 222px;
          margin-bottom: 20px;
          padding-top: 15px;
        }

        .member-info {
          .flex-custom(column; @justify-content: center; @align-items: center);
        }
      }
    }
  }

  .location {
    .flex-custom(column; @justify-content: center; @align-items: center);
    margin-bottom: 50px;
    text-align: center;

    h2 {
      font-size: 2.8rem;
    }

    div.content {
      margin: 40px 0px;
      font-size: 2.8rem;
    }

    iframe {
      width: 80%;

      @media @desktop {
        max-width: 870px;
      }
    }
  }
}
