// About us page style here
.about-page {
    width: 100%;
    .team {
        padding: 30px 20px;
        background-color: #B4B9BC;

        h2 {
            font-size: 32px;
            text-align: center;
            margin-bottom: 30px;
        }

        .members {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media @tablet {
                flex-direction: row;
            }

            @media @desktop {
                flex-direction: row;
            }

            a {
                display: contents;
                color: black;
            }

            .card:hover {
                background-color: lightseagreen;
            }

            .ui.link.cards:hover {
                background-color: lightseagreen;
            }

            .team-member {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                max-height: 500px;
                border: 1px solid lightblue;
                border-radius: 10px;
                background-color: lightseagreen;
                margin: 20px 20px;
                padding-bottom: 30px;

                @media @tablet {
                    width: 40%;
                }

                @media @desktop {
                    width: 28%;
                }


                h3 {
                    font-size: 24px;
                }
                img {
                    width: 80%;
                    margin-bottom: 20px;
                    padding-top: 15px;
                }

                .member-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}