// Footer style here
footer {
  width: 100%;
  .flex-custom(column; @align-items: center);
  background: @background;
  bottom: 0;

  nav {
    width: 100%;
    padding: 1%;
    padding-top: 1.6rem;
    .flex-custom(@justify-content: space-evenly);

    @media @desktop {
      width: 50%;
    }

    a {
      text-decoration: none;
      color: @link;
      font-size: 1.6rem;
    }

    a:hover {
      color: #4183c4;
    }
  }

  .social-icons {
    width: 100%;
    .flex-custom(@justify-content: center);

    .icon {
      padding: 20px;
      font-size: 30px;
      width: 80px;
    }
  }

  .copyright {
    color: white;
    padding-bottom: 1.6rem;
  }
}
