// Home page style here
.home {
  .top-content {
    .flex-custom(column; @align-items:center);
    padding: 2rem 1rem;
    margin-top: 2rem;
    margin: 0 auto;
    border-bottom: 2px solid @nickel;

    h1 {
      @media @tablet, @desktop, @full-screen {
        font-size: 3rem;
      }
    }

    p {
      text-align: justify;
      span {
        font-weight: bold;
        color: @logo;
      }

      @media @tablet, @desktop, @full-screen {
        font-size: 2rem;
      }
    }
  }

  .banner {
    padding-top: 2rem;
    width: 100%;

    @media @tablet, @desktop, @full-screen {
      display: none;
    }
  }

  .middle-content {
    .flex-custom(column);
    margin: 0 auto;

    .images {
      visibility: hidden;
      width: 100%;
      .flex-custom(@justify-content:space-evenly; @flex-wrap: wrap);
      height: 0;

      @media @tablet {
        visibility: visible;
        margin-top: 2rem;
        height: auto;
      }

      img {
        width: 100px;
        height: 100px;
        padding: 5px;
      }
    }

    .images-2 {
      width: 100%;
      .flex-custom(@justify-content:space-evenly; @flex-wrap: wrap);
      visibility: hidden;
      height: 0;

      @media @desktop, @full-screen {
        visibility: visible;
        margin-top: 2rem;
        height: auto;
      }

      img {
        width: 150px;
        height: 100px;

        @media @full-screen {
          width: 175px;
          height: 125px;
        }
      }
    }
  }

  .content {
    padding: 2rem 1rem 2rem 1rem;
    border-bottom: 2px solid @nickel;
    margin-bottom: 2rem;
    .flex-custom(column; @align-items:center);

    @media @tablet, @desktop, @full-screen {
      padding-top: 2rem;
    }

    h2 {
      @media @tablet, @desktop, @full-screen {
        font-size: 3rem;
      }
    }

    p {
      text-align: justify;

      @media @tablet, @desktop, @full-screen {
        font-size: 2rem;
      }
    }
  }

  .content button {
    border: 1px solid @nickel;
    padding: 5px;
    background: #2b4162;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    font-size: 2rem;
  }

  .testimonials {
    .flex-custom(column; @align-items:center);

    h1 {
      @media @tablet, @desktop {
        font-size: 3rem;
      }
    }

    article {
      .flex-custom(column; @align-items:center);
      margin: 2rem;

      @media @tablet, @desktop {
        .flex-custom(row; @justify-content:space-between);
        p {
          width: 70%;
          font-size: 2rem;
        }
      }

      p {
        text-align: justify;

        span {
          font-weight: bold;
          color: @logo;
        }
      }

      img {
        width: 150px;
        height: 100px;
        margin-bottom: 1rem;
      }
    }
  }

  .testimonials article:last-child {
    @media @tablet {
      flex-direction: row-reverse;
    }

    @media @desktop {
      flex-direction: row-reverse;
    }
  }
}
