// Navigation styles here
.top-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: @background;
  padding: 20px 0;

  .logo {
    font-size: 4.8rem;
    color: @logo;
  }

  nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: @link;
    }
  }
}
