// Colors
@deep-koamaru: #2b4162;
@nickel: #727072;
@lavender-grey: #c1cad6;
@white-smoke: #f5f0f6;
@blanched-almond: #ffead0;
@pewter: #B4B9BC;

// Color Assignments
@logo: @white-smoke;
@background: @deep-koamaru;
@link: @white-smoke;
@link-hover: @lavender-grey;
@border: @nickel;

// Media Query
@desktop: ~'(min-width: 1000px)';
@tablet: ~'(min-width: 768px) and (max-width: 999px)';
@full-screen: ~'(min-width: 1200px)';